<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Тестовая страница магазинов</h1>
            <div class="alert alert-success">
                <p class="mb-0">Если вы видите эту страницу, значит маршрутизация работает правильно.</p>
            </div>
        </div>
    </div>
</div> 